<div class="row">
  <div class="col-md-2 pull-right">
    <%= link_to "Export Excel File", export_exel_visitors_path(format: "xls"), class: "form-control btn-primary sbmt-btn-padding col-md-2" %>
  </div>
  <div class="col-md-5 pull-right">
    <%= form_tag import_exel_visitors_path, multipart: true do %>
      <div class="col-md-6">
        <%= file_field_tag :file, class: 'form-control' %>
      </div>
      <div class="col-md-6">
        <%= submit_tag "Import Excel File", class: "form-control btn-primary sbmt-btn-padding col-md-2" %>
      </div>
    <% end %>
    <!--<input type="btn" class="form-control btn-primary sbmt-btn-padding col-md-2" value="Import .exl File" name="import_exel">-->
  </div>
</div>
<br/>
<div class="row">
  <table class="table table-bordered visitor-table">
    <thead class="thead-inverse">
      <tr>
        <th>क्र.</th>
        <th>रज़ि.क्र.</th>
        <th>आ. दिनांक</th>
        <th>धर्म</th>
        <th>नाम</th>
        <th>लिंग</th>
        <th>पिता का नाम</th>
        <th>पता</th>
        <th>जिला</th>
        <th>मो. नम्बर</th>
        <th>जन्म दिनांक</th>
        <th>आयु</th>
        <th>परिचय पत्र </th>
        <th>परिचय पत्र न.</th>
        <th>तह. न.</th>
        <th>यात्रा का नाम</th>
        <th>स्वयं/सहा.</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% visitors.each do |visitor | %>
        <%= render partial: '/visitors/visitor_row', locals: {visitor: visitor} %>
        <% if visitor.assistant.present? %>
          <%= render partial: '/visitors/visitor_row', locals: {visitor: visitor.assistant} %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
