<div class="row engtext">
  <div class="col-md-2 pull-right">
    <%= link_to "Export Excel File", export_exel_visitors_path(format: "xls"), class: "form-control btn-primary sbmt-btn-padding col-md-2" %>
  </div>
  <div class="col-md-5 pull-right">
    <%= form_tag import_exel_visitors_path, multipart: true do %>
      <div class="col-md-6">
        <%= file_field_tag :file, class: 'form-control' %>
      </div>
      <div class="col-md-6">
        <%= submit_tag "Import Excel File", class: "form-control btn-primary sbmt-btn-padding col-md-2" %>
      </div>
    <% end %>
    <!--<input type="btn" class="form-control btn-primary sbmt-btn-padding col-md-2" value="Import .exl File" name="import_exel">-->
  </div>
</div>
<br/>
<div class="row">
  <table class="table table-bordered visitor-table">
    <thead class="thead-inverse">
      <tr>
        <th>dz0</th>
        <th>jft0 dz0</th>
        <th>vk0 fnukad</th>
        <th>/keZ</th>
        <th>uke</th>
        <th>fyax</th>
        <th>firk dk uke</th>
        <th>irk</th>
        <th>ftyk</th>
        <th>eks0 u0</th>
        <th>tUe fnukad</th>
        <th>vk;q</th>
        <th>ifjp; i= </th>
        <th>ifjp; i= dk uEcj</th>
        <th>rg0 u0</th>
        <th>;k=k dk uke</th>
        <th>Lo;a@lgk</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if visitors.present? %>
        <% visitors.each do |visitor | %>
          <%= render partial: '/visitors/visitor_row', locals: {visitor: visitor} %>
          <% if visitor.assistant.present? %>
            <%= render partial: '/visitors/visitor_row', locals: {visitor: visitor.assistant} %>
          <% end %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="17">
            <center>vHkh dksbZ fjdkMZ miyC/k ugh gS</center>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
