<div class="row-fluid">
  <div class="col-md-5">
    <%= image_tag "cm_image.jpg", class:"cm-img-box" %>
  </div>
  <div class="col-md-7 row-fluid">
    <br/><br/>
    <div class="yatra-block">
      <div class="row-fluid">
        <div class="col-md-2">District</div>
        <div class="col-md-4">
          <%= select("yatra", "district", [['Sagar', 'Sagar'],['Chhatarpur', 'Chhatarpur']], {prompt: 'Select District'}, class: 'form-control') %>
        </div>
      </div>
      <br/><br/>
      <div class="row-fluid">
        <div class="col-md-2">तीर्थस्थान</div>
        <div class="col-md-4">
           <%= select("yatra", "name", get_yatras.collect {|p| [ p.name, p.id ] }, 
          {prompt: 'Select Yatra'}, class: "col-md-6 form-control mrgn-right" )%> 
        </div>
        <div class="col-md-2">
          <input type="button" class="form-control btn-primary" value="चयन करें" id='select_yatra' name="commit">
        </div>
      </div>
      <br/><br/>
      <br/><div class="bdr col-md-8"></div><br/>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: ""}) do |f| %>
      <div class="row-fluid">
        <div class="col-md-2">User Name</div>
        <div class="col-md-4">
          <%= select("user", "email"  , [], 
            {prompt: 'Select User'}, class: "col-md-6 form-control mrgn-right" )%>
        </div>
      </div>
      <br/><br/>
      <div class="row-field">
        <div class="col-md-2"> Password</div>
        <div class="col-md-4">
          <%= f.password_field :password, autocomplete: "off", class:"col-md-5 form-control" %>
        </div>
      </div>
      <br/><br/>
      <div class="row-field">
        <div class="col-md-offset-2 col-md-4">
          <%= f.submit "Log in", class: 'form-control btn-primary sbmt-btn-padding' %>
        </div>
      </div>
      <br/><br/>
      <br/><div class="bdr col-md-8"></div><br/>
    <% end %>
  </div>
</div>
<div class="col-md-10 col-md-offset-1 bottom-img-div">
  <%= image_tag "index4.jpg", class: 'col-md-12' %>
</div>

